.container {
    height: 80vh;
    position: relative;
}

.container>* {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.textInput {
    border: none;
    width: 60vw;
    font-size: xx-large;
    background-color: transparent;
    color: white;
}

.textInput:focus {
    outline: none;
}

.usernameContainer {
    display: inline-block;
    border-bottom: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
}

.usernameContainer button {
    width: 10vw;
    height: 7vh;
    border: none;
    background-color: white;
    color: orange;
    border-top-right-radius: 25px;
    font-size: x-large;
    font-weight: bold;
}

.usernameContainer button:focus {
    outline: none;
}

.usernameContainer button:hover {
    transform: translate(2%, -2%);
    cursor: pointer;
}