.navHeader {
    background-color: orange;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.navHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navHeader li {
    display: inline-block;
}

.headerElement {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.headerElement:hover {
    background-color: rgb(243, 158, 1);
}

.left {
    float: left;
}

.right {
    float: right;
}